extends ../../layouts/layouts.pug
block css
block script
    script(src="https://cdn.jsdelivr.net/npm/sweetalert2@11")
    script(src="https://cdn.jsdelivr.net/npm/axios@1.7.9/dist/axios.min.js") 
    script(type="module" src="/client/js/customer/password-update.js") 

block main
    - if(INFOR_CUSTOMER)
        div(class=``)
            div(class=`container`)

                sl-input(type='password' placeholder='Mật khẩu' password-toggle clearable oncopy="return false" oncut="return false" onpaste="return false" onselectstart="return false" ondragstart="return false" ondrop="return false" name='old-password')
                sl-input(type='password' placeholder='Mật khẩu mới' password-toggle clearable oncopy="return false" oncut="return false" onpaste="return false" onselectstart="return false" ondragstart="return false" ondrop="return false" name='new-password')
                sl-input(type='password' placeholder='Xác nhận mật khẩu mới' password-toggle clearable oncopy="return false" oncut="return false" onpaste="return false" onselectstart="return false" ondragstart="return false" ondrop="return false" name='confirm-password')
                sl-button(btn-update = `${ROUTERS.CLIENT.CUSTOMER.PATH}${ROUTERS.CLIENT.CUSTOMER.INFOR_CUSTOMER}${ROUTERS.CLIENT.CUSTOMER.INFOR_CUSTOMER_UPDATE_INFOR}${ROUTERS.CLIENT.CUSTOMER.INFOR_CUSTOMER_UPDATE_PASSWORD}`) Cập nhật mật khẩu
